<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Chau Tra Mi Vo">
        <meta name="description" content="Here to Help You Every Step of the Way!">
        <title>Go Vietnam | Contact Us</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

        <link rel="stylesheet" href="govn-contact.css">
        <script src="contact-us.js"></script>

    </head>
    
    <body>
        <header>
            <h6>Here to Help You Every Step of the Way!</h6>
        </header>

        <!--Navbar-->
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg bg-white text-black sticky-top">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center text-black active me-4" aria-current="page" href="/home">
                    <img src="govnlogo-yellow.png" alt="Go Vietnam" width="50" height="30" class="d-inline-block align-text-top me-2">
                    <strong>Go Vietnam</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-black me-2" href="/home">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-black me-2" href="/explore" id="exploreDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Explore Vietnam
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="exploreDropdown">
                                <li><a class="dropdown-item" href="/explore/north">North</a></li>
                                <li><a class="dropdown-item" href="/explore/central">Central</a></li>
                                <li><a class="dropdown-item" href="/explore/south">South</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black me-2" href="/insights">Insights</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-black me-2" href="/contact" id="contactDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Contact Us
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="contactDropdown">
                                <li><a class="dropdown-item" href="#getintouch">Get In Touch</a></li>
                                <li><a class="dropdown-item" href="#request">Request a Custom Itinerary</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black me-2" href="/feedback">Feedback</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main>
            <!--Get In Touch-->
            <div class="getintouch-section" id="getintouch">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1>Get In Touch</h1>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 d-flex flex-column justify-content-center">
                            <div class="d-flex flex-column align-items-md-start">
                                <img src="govnlogo-yellow.png" alt="Go Vietnam" class="mg-fluid mb-4" style="width: 250px;">
                                <p><strong>Postal Address:</strong> 221 Burwood Hwy, Burwood, VIC 3125</p>
                                <p><strong>Phone Number:</strong> +61 123 456 789</p>
                                <p><strong>Email Address: </strong><a href="mailto:info@govietnam.com">info@govietnam.com</a></p>
                                <p><strong>Working Hours:</strong></p>
                                <ul>
                                    <li>Monday - Friday: 9:00 AM - 6:00 PM</li>
                                    <li>Saturday: 10:00 AM - 3:00 PM</li>
                                    <li>Sunday: Closed</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <p><strong>Find Us on the Map</strong></p>
                            <div class="map-container">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3150.5450054178855!2d145.11237017608627!3d-37.84753633596928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad640592c2ddceb%3A0x805bd52f251bd12!2sDeakin%20University%20Melbourne%20Burwood%20Campus!5e0!3m2!1sen!2sau!4v1723656940644!5m2!1sen!2sau" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Banner-->
            <div class="banner-section">
                <div class="container">
                    <div class="row">
                        <h2>Ready to Explore Vietnam,<br>Your Way?</h2>
                        <p>
                            <em>Let us craft a unique itinerary just for you.</em>
                        </p>
                    </div>
                </div>
            </div>

            <!--Request a Custom Itinerary - Form-->
            <div class="request-section" id="request">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1>Request a Custom Itinerary</h1>
                        </div>
                    </div>
                    
                    <form class="needs-validation" novalidate method="POST" action="/contact">
                        <div class="container">

                            <!--Personal Information-->
                            <div class="row mb-3">
                                <h4>Personal Information</h4>
                            </div>
                            <div class="row g-4 mb-4">
                                <div class="col-md-4">
                                    <label for="firstname" class="form-label">First Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="firstname" name="firstname" required>
                                    <div class="invalid-feedback">
                                        Please enter your first name!
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <label for="lastname" class="form-label">Last Name <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="lastname" name="lastname" required>
                                    <div class="invalid-feedback">
                                        Please enter your last name!
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <label for="nationality" class="form-label">Nationality <span class="text-danger">*</span></label>
                                    <select class="form-select" id="nationality" name="nationality" required>
                                        <option value="" selected disabled>Select Your Nationality</option>
                                        <option value="Australia">Australia</option>
                                        <option value="Canada">Canada</option>
                                        <option value="China">China</option>
                                        <option value="France">France</option>
                                        <option value="Germany">Germany</option>
                                        <option value="Japan">Japan</option>
                                        <option value="New Zealand">New Zealand</option>
                                        <option value="South Korea">South Korea</option>
                                        <option value="United Kingdom">United Kingdom</option>
                                        <option value="United States">United States</option>
                                        <option value="Vietnam">Vietnam</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select your nationality!
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row g-4 mb-4">
                                <div class="col-md-4">
                                    <label for="phone" class="form-label">Phone Number</label>
                                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter your 10 digit numbers">
                                </div>
                                
                                <div class="col-md-4">
                                    <label for="email" class="form-label">Email Address <span class="text-danger">*</span></label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                    <div class="invalid-feedback">
                                        Please enter your email address!
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <label for="dob" class="form-label">Date of Birth</label>
                                    <input type="date" class="form-control" id="dob" name="dob">
                                </div>
                            </div>

                            <!--Travel Preferences-->
                            <div class="row mt-4 mb-4">
                                <h4>Travel Preferences</h4>
                            </div>
                            <div class="row g-4 mb-4">
                                <div class="col-md-3">
                                    <label class="form-label">What <strong>type of traveler</strong> are you?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="adventure" name="travelertype" value="Adventure Seeker">
                                        <label class="form-check-label" for="adventure">Adventure Seeker</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="culture" name="travelertype" value="Culture Enthusiast">
                                        <label class="form-check-label" for="culture">Culture Enthusiast</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="nature" name="travelertype" value="Nature Lover">
                                        <label class="form-check-label" for="nature">Nature Lover</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="food" name="travelertype" value="Food Explorer">
                                        <label class="form-check-label" for="food">Food Explorer</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="relaxation" name="travelertype" value="Relaxation Seeker">
                                        <label class="form-check-label" for="relaxation">Relaxation Seeker</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="history" name="travelertype" value="History Buff">
                                        <label class="form-check-label" for="history">History Buff</label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">What are your <strong>travel priorities</strong>?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="cultural-experiences" name="travelpriorities" value="Cultural experiences">
                                        <label class="form-check-label" for="cultural-experiences">Cultural experiences</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="scenic-landscapes" name="travelpriorities" value="Scenic landscapes">
                                        <label class="form-check-label" for="scenic-landscapes">Scenic landscapes</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="cuisine" name="travelpriorities" value="Local cuisine">
                                        <label class="form-check-label" for="cuisine">Local cuisine</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="adventure-activities" name="travelpriorities" value="Adventure activities">
                                        <label class="form-check-label" for="adventure-activities">Adventure activities</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="wellness" name="travelpriorities" value="Relaxation & wellness">
                                        <label class="form-check-label" for="wellness">Relaxation & wellness</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="nightlife" name="travelpriorities" value="Nightlife">
                                        <label class="form-check-label" for="nightlife">Nightlife</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="shopping" name="travelpriorities" value="Shopping">
                                        <label class="form-check-label" for="shopping">Shopping</label>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">What is your preferred <strong>travel style</strong>? <span class="text-danger">*</span></label>
                                    <div id="travelstyle" class="form-check-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="budget-friendly" name="travelstyle" value="Budget-Friendly" required>
                                            <label class="form-check-label" for="budget-friendly">Budget-Friendly</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="mid-range" name="travelstyle" value="Mid-Range" required>
                                            <label class="form-check-label" for="mid-range">Mid-Range</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="luxury" name="travelstyle" value="Luxury" required>
                                            <label class="form-check-label" for="luxury">Luxury</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="mixed" name="travelstyle" value="Mixed" required>
                                            <label class="form-check-label" for="mixed">Mixed</label>
                                        </div>    
                                    </div>
                                    <div class="invalid-feedback">
                                        Please select your travel style!
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="form-label">What is your preferred <strong>pace</strong> of the trip? <span class="text-danger">*</span></label>
                                    <div id="trippace" class="form-check-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="relaxed" name="trippace" value="Relaxed" required>
                                            <label class="form-check-label" for="relaxed">Relaxed</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="balanced" name="trippace" value="Balanced" required>
                                            <label class="form-check-label" for="balanced">Balanced</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="fast" name="trippace" value="Fast-Paced" required>
                                            <label class="form-check-label" for="fast">Fast-Paced</label>
                                        </div>    
                                    </div>
                                    <div class="invalid-feedback">
                                        Please select your preferred trip pace!
                                    </div>
                                </div>
                            </div>

                            <!--Destination Selection-->
                            <div class="row mt-4 mb-4">
                                <h4>Destination Selection</h4>
                            </div>
                            <div class="row g-4 mb-4">
                                <div class="col-md-4">
                                    <label class="form-label">Which <strong>regions</strong> are you interested in visiting?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="north" name="regions" value="Northern Vietnam">
                                        <label class="form-check-label" for="north">Northern Vietnam</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="central" name="regions" value="Central Vietnam">
                                        <label class="form-check-label" for="central">Central Vietnam</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="south" name="regions" value="Southern Vietnam">
                                        <label class="form-check-label" for="south">Southern Vietnam</label>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="form-label">Are there any <strong>specific cities or spots</strong> you want to visit? <span class="text-danger">*</span></label>
                                        <div id="specificspots" class="form-check-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="spot-no" name="specificspots" value="No" required>
                                                <label class="form-check-label" for="spot-no">Not Yet</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" id="spot-yes" name="specificspots" value="Yes" required>
                                                <label class="form-check-label" for="spot-yes">Yes</label>
                                            </div>
                                        </div>
                                        <div class="invalid-feedback">
                                            Please select your answer!
                                        </div>     
                                    </div>
                                    <div class="form-group" id="yes-input">
                                        <input type="text" id="spotsinput" name="spotsinput" class="form-control" placeholder="Please specify the cities or spots">
                                    </div>
                                </div>
                            </div>

                            <!-- Additional Information -->
                            <div class="row mt-4 mb-4">
                                <h4>Additional Information</h4>
                            </div>
                            <div class="row g-4 mb-4">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Your Preferred Travel Dates <span class="text-danger">*</span></label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="startdate" class="form-label" style="font-weight: bold;">Start Date</label>
                                                <input type="date" id="startdate" name="startdate" class="form-control" required>
                                                <div class="invalid-feedback">
                                                    Please choose a valid start date!
                                                </div>        
                                            </div>
                                            <div class="col-md-6">
                                                <label for="enddate" class="form-label" style="font-weight: bold;">End Date</label>
                                                <input type="date" id="enddate" name="enddate" class="form-control" required>
                                                <div class="invalid-feedback">
                                                    Please choose a valid end date!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label for="numbertravelers" class="form-label">Number of Travelers <span class="text-danger">*</span></label>
                                    <p style="font-size: 0.6rem; color: gray;"><em>(The number must be in the range of 1-50)</em></p>
                                    <input type="number" class="form-control" id="numbertravelers" name="numbertravelers" min="1" max="50" required>
                                    <div class="invalid-feedback">
                                        Please enter a valid number of travelers!
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label for="extra" class="form-label">Do you have any specific requests or interests?</label>
                                    <textarea class="form-control" id="extra" name="extra" rows="2" placeholder="Enter your requests or interests here..."></textarea>
                                </div>
                            </div>

                            <div class="mt-5 mb-2">
                                <button type="submit" class="btn btn-custom me-3" onclick="submitRequest()">Submit Request</button>
                                <button type="reset" class="btn btn-reset-custom" onclick="resetRequest()">Reset Request</button>
                            </div>                          
                        </div>
                    </form>
                
                </div>
            </div>
        </main>

        <footer>
            <div class="copy-custom">
                <div class="container copy-custom text-white">
                    <div class="row pt-3">
                        <div class="col-12 text-center">
                            <p><em>Copyright &copy; 2024 Go Vietnam. All Rights Reserved.</em></p>
                        </div>
                    </div>
                </div>
            </div>

        </footer>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var dropdowns = document.querySelectorAll('.nav-item.dropdown');
        
                dropdowns.forEach(function (dropdown) {
                    dropdown.addEventListener('click', function (event) {
                        if (window.innerWidth >= 992) {
                            window.location.href = this.querySelector('.nav-link').getAttribute('href');
                        }
                    });
                });
            });
        </script>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    </body>
</html>